 @import "bootstrap.min.css";
	  .box{
	 width:700px;
	 height:300px;
	 margin:50px auto;
	 }
	 
	 .box .link{
	 width:205px;
	 height:280px;
	 float:left;
	 margin:0 70px;

	 }
	 
	 
	 .link .icon{
	 display:inline-block;
	 width:100%;
	 height:190px; 
	  transition:all 0.2s ease-out;
	 -moz-transition:all 0.2s ease-out;
	 -webkit-transition:all 0.2s ease-out;
	 -o-transition:all 0.2s ease-out;
		 
	 
	 
	 
	 }
 
	 .link-member .icon{background:url(../images/memberIcon.png) no-repeat center center;}
	 
	 .link-service .icon{background:url(../images/serviceIcon.png) no-repeat center center;}
	 
	.icon a{
		margin-left:20px;
	}
	

	.link  .button{

	 display:block;
	 width:180px;
	 height:50px;   
	 line-height:50px; 
	 text-decoration:none;
	 color:#2DCB70;
	 font-family:Arial;
	 font-weight:bolder;
	 border:2px solid rgba(255,255,255,0.6);
	 padding-left:20px;
	 margin:0 auto;
	 font-size:18px;
	border-radius:10px;

 }
 .link-member .button{
	text-indent:23%;
}

 .link  .icon:hover{
	transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
 }
 
.link-service .button{
	text-indent:17%;
} 
 
.link  .button:hover{border:2px solid rgba(255,255,255,1);
 background-position:140px center;}
 