 @import "bootstrap.min.css";



.infobox{
	width:500px;
	height:500px;
	margin-top:10px;
		
	border:2px solid rgba(255,255,255,0);
	
}
.button{
	margin-top:50px;
 		display:block;
		width:200px;
		height:40px;
		line-height:35px; 
		font-size:16px;
		text-align:center;
		background-color:#333;
	 text-decoration:none;
		border-radius:10px;
		color:#FFF;
		border:2px solid rgba(45,203,112,0.7);
}

.button:hover{
			background-color:#2DCB70;
			color:#FFF;
			text-decoration:none;
		 }
.form-group{
	margin-top:20px;
	width:300px;
	height:70px;
}